* {
    padding: 0;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

}

.projects-list {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.project {
    display: flex;
    flex-direction: column;
    max-height: 3rem;
    transition: all 0.2s ease-in-out;
}

.expand {
    max-height: 1000px;
    transition: all .5s ease-out;
}

.project-content {
    transition: max-height 2s ease-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-button {   
    margin-top: 1rem;
    min-height: 2rem;
    border-bottom: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-button:hover {
    cursor: pointer;
}

.todo-item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid cadetblue;
    padding: 1rem;
    margin: 1rem 0 0 2rem;
    max-width: 900px;
    align-items: center;
    transition: all 1s;
}

.todo-item.todo-inactive {
    opacity: 0.4;
}
.todo-item div {
    margin: 0 2rem 0 0;
}
.todo-buttons .fa {
    padding: 0.5rem;
    margin: -.5rem 0;
}

.todo-buttons .fa:hover {
    cursor: pointer;    
}

.todo-item .fa-circle-o {
    display: flex;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5)
}
.todo-item.todo-inactive .fa-circle-o {
    display: none;
}
.todo-item .fa-check-circle-o {
    display: none;
}
.todo-item.todo-inactive .fa-check-circle-o {
    display: flex;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5)
}

.todo-add-button,
.project-add-button {
    display: flex;     
}

.todo-add-button.active, 
.project-add-button.active {
    display: none;
}

.todo-add-popup,
.project-add-popup {
    display: none;
    align-items: center;
}

.todo-add-popup.active,
.project-add-popup.active {
    display: flex;
}

.todo-editor {
    display: flex;
    flex-direction: column;
    width: 100%;    
}
textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    
}
