.dark-primary-color    { background: #7B1FA2; }
.default-primary-color { background: #9C27B0; }
.light-primary-color   { background: #E1BEE7; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    font-size: 4vw;
}
.content {
    display: flex;
    min-height: 100vh;

}
h1 {
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: .1rem solid #BDBDBD;
}
.nav-panel {
    z-index: 999;
    align-items: flex-start;
    border-right: .1rem solid #BDBDBD;
    width: 2rem;
    padding: 0 0.5rem;
    
    overflow: hidden;
    position: fixed;
    height: 100vh;
    transition: width 0.5s;
    white-space: nowrap;
    color: #ddd;
    font-size: 1.1rem;
    
}
.nav-button {
    list-style: none;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-bottom: 1rem;

}
.nav-button:hover {
    cursor: pointer;
    color: #fff;
}
.nav-button.active {
    background-color: #757575;
}

.nav-panel.active {
    width: 45vw; 
}

.material-icons,.icon-text {
    vertical-align: middle;
}
.material-icons {
    padding-bottom: 3px;
    margin-right: 1rem;
    font-size: 2rem;
    
}


.project-container {
    display: flex;
    position: relative;
    width: 100vh;
    max-width: 1100px;
    max-height: 100vh;
    overflow: auto;
    background: #FAFAFA;
    border-right: 0.1rem solid #BDBDBD;
}

.projects-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.project {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    max-height: 3rem;
    transition: max-height 0.2s ease-in-out;
}

.expand {
    max-height: 1400px;
    transition: max-height .5s ease-out;
}

.project-content {
    transition: max-height 2s ease-out;
    overflow: auto;
    display: flex;
    flex-direction: column;   
}

.project-button {   
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.19) 1px 10px 20px, rgba(0, 0, 0, 0.23) 1px 1px 1px;
   
}

.project-button:hover {
    cursor: pointer;
}

.todo-item {
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #BDBDBD;
}
.priority-box {
    min-width: 1rem;
    align-self: stretch;
    margin-top: -1rem;
    height: 1.5rem;
    position: relative;
}

.priority-box::after {
    content: '';
    width: 0; 
    height: 0; 
    position: absolute;
    top: 1.5rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;   

}

.box-red {
    box-shadow: 0 3px 10px rgba(0,0,0,0.23);
    background-color: #B0273B;
}
.box-red::after {
    border-top: 0.5rem solid #B0273B;
}

.box-green {
    box-shadow: 0 3px 10px rgba(0,0,0,0.23);
    background-color: #27B09C;
}
.box-green::after {
    border-top: 0.5rem solid #27B09C;
}

.box-yellow {
    box-shadow: 0 3px 10px rgba(0,0,0,0.23);
    background-color: #B09C27;
}
.box-yellow::after {
    border-top: 0.5rem solid #B09C27;
}

.left-div {
    flex: 1;
    display: flex;
    justify-content: center;
}
.center-div {
    margin: 0 1rem;
    flex: 10;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-evenly;
    align-items: flex-start;
}
.right-div {
    display: flex;
    flex-direction: column;
    flex: 5;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-end;
    
}
.todo-title {
    font-size: 1rem;

}
.todo-description {
    font-size: 0.8rem;
}
.todo-due-date {
    font-size: 0.8rem;
    font-style: italic;
}
.todo-item .fa-pencil-square-o {
    opacity: 0;
    cursor: pointer;
    padding: 1rem;
    margin: -1rem;
    transition: all 0.5s;
}

.todo-item:hover .fa-pencil-square-o {
    opacity: 1;
}


.todo-add-popup {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -5px 5px;
    position: fixed;
    z-index: 999;
    top: 5rem;
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 5rem);
    background: #212121;
}

.todo-add-popup.active {
    display: flex;
}

#popup-title {
    color: #fff;
    margin-bottom: 1rem;
    align-self: center;
}

#todo-form {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
input[type=text], textarea{
    font-size: inherit;
    box-sizing: border-box;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1px;
    padding: 0.5rem;
}
.form-delete {
    display: none;
}

button, input, select {
    font-size: inherit;
    margin-bottom: 1rem;
}

select, input[type=date] {
    margin-left: 0.5rem;
}

label {
    color: #eee;
}
.todo-switches {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.todo-edit-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.add-edit-todo-buttons {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.delete-todo-button {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#todo-delete{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background-color: #D2324A;
    transition: all 0.5s;
}

#todo-delete:hover {
    color: #eee;
    transform: rotate(360deg);
}
#todo-delete .material-icons {
    margin: 0;
    padding: 0;
}

.add-edit-todo-buttons {
    margin-top: 2rem;
    align-self: center;
}

.todo-item.todo-inactive {
    opacity: 0.4;
}

.todo-buttons .fa {
    padding: 0.5rem;
    margin: -.5rem 0;
}

.todo-buttons .fa:hover {
    cursor: pointer;    
}

.todo-item .fa-circle-o {
    display: flex;
    cursor: pointer;  
    font-size: 2rem;
}
.todo-item.todo-inactive .fa-circle-o {
    display: none;
}
.todo-item .fa-check-circle-o {
    display: none;
}
.todo-item.todo-inactive .fa-check-circle-o {
    display: flex;
    cursor: pointer;  
    font-size: 2rem;
}

.todo-inactive .todo-title{
    text-decoration: line-through;
}


@media screen 
  and (min-device-width: 1200px) 
  and (min-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      :root {
          font-size: unset;
      }
      .content {
          flex-direction: row;
          justify-content: center;
      }
      .nav-panel {
          width: 300px;
          overflow: auto;
          max-width: 300px;
          position: relative;
          padding-left: 2rem;
      }
      .nav-panel.active {
        width: 300px;
     }
     .todo-add-popup {
         width: 700px;
         height: 500px;
         top: calc(50vh - 250px);
         left: calc(50vw - 350px);
     }
      .project {
          margin-left: unset;
      }
      .todo-switches {
          width: 100%;
          flex-direction: unset;
          justify-content: space-evenly;
      }
}